*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #7a7a7a;
}
.areaPrincipal { /Así se define una clase/

    background-image: url("../img/fondo.jpg"); /
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    opacity: 0.7; 
    -webkit-background-size: 100% 100%;  
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    }
#encabezado{
    background: #d0e6f8;
    height: 240px;
    text-align: center;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 180px 180px;
}